/* .carousel-image {
    max-width: 50%;
    margin: auto;
} */

.carousel {
    max-width: 50%;
    margin: auto;
}

#form {
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    max-width: 25%;
    padding: 2%;
    border-radius: 5%;
}

input {
    width: 75%;
}

#sidebar {
    background-color: cornflowerblue;
    width: 25%;
    height: 100vh;
    float: left;
}

#main {
    background-color: crimson;
    width: 75%;
    height: 100vh;
    float: left;
}

#footer {
    clear: both;
}

#search {
    width: 50%;
}